frontend task-2-frontend
        mode http
        bind :20000
    	acl is_example hdr(host) -i example.local
    	use_backend backend if is_example

backend backend
        balance roundrobin
        server s1 127.0.0.1:20100 weight 2 check inter 5s
        server s2 127.0.0.1:20200 weight 3 check inter 5s
        server s3 127.0.0.1:20300 weight 4 check inter 5s
