frontend task-3-frontend
        mode tcp
        bind :20000
    	default_backend backend

backend backend
        balance roundrobin
        server s1 127.0.0.1:20100 check inter 5s
        server s2 127.0.0.1:20200 check inter 5s
        server s3 127.0.0.1:20300 check inter 5s
