frontend task-4-frontend
        mode http
        bind :20000
    	acl is_ex1 hdr(host) -i example1.local
    	use_backend backend-1 if is_ex1
    	acl is_ex2 hdr(host) -i example2.local
    	use_backend backend-2 if is_ex2

backend backend-1
        balance roundrobin
        server s1 127.0.0.1:20100 check inter 5s
        server s2 127.0.0.1:20200 check inter 5s

backend backend-2
        balance roundrobin
        server s3 127.0.0.1:20300 check inter 5s
        server s4 127.0.0.1:20400 check inter 5s
